.sf-navbar {
	background: rgb(189, 210, 255); height: 2.5em; padding-bottom: 2.5em; position: relative;
}
.sf-navbar li {
	background: rgb(170, 189, 230); position: static;
}
.sf-navbar a {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.sf-navbar li ul {
	width: 44em;
}
.sf-navbar li li {
	background: rgb(189, 210, 255); position: relative;
}
.sf-navbar li li ul {
	width: 13em;
}
.sf-navbar li li li {
	width: 100%;
}
.sf-navbar ul li {
	width: auto; float: left;
}
.sf-navbar a {
	border: currentColor; border-image: none;
}
.sf-navbar a:visited {
	border: currentColor; border-image: none;
}
.sf-navbar li.current {
	background: rgb(189, 210, 255);
}
.sf-navbar li:hover {
	background: rgb(189, 210, 255);
}
.sf-navbar li.sfHover {
	background: rgb(189, 210, 255);
}
.sf-navbar li li.current {
	background: rgb(189, 210, 255);
}
.sf-navbar a:focus {
	background: rgb(189, 210, 255);
}
.sf-navbar a:hover {
	background: rgb(189, 210, 255);
}
.sf-navbar a:active {
	background: rgb(189, 210, 255);
}
.sf-navbar ul li:hover {
	background: rgb(209, 223, 255);
}
.sf-navbar ul li.sfHover {
	background: rgb(209, 223, 255);
}
ul.sf-navbar ul li:hover li {
	background: rgb(209, 223, 255);
}
ul.sf-navbar ul li.sfHover li {
	background: rgb(209, 223, 255);
}
.sf-navbar ul a:focus {
	background: rgb(209, 223, 255);
}
.sf-navbar ul a:hover {
	background: rgb(209, 223, 255);
}
.sf-navbar ul a:active {
	background: rgb(209, 223, 255);
}
ul.sf-navbar li li li:hover {
	background: rgb(230, 238, 255);
}
ul.sf-navbar li li li.sfHover {
	background: rgb(230, 238, 255);
}
.sf-navbar li li.current li.current {
	background: rgb(230, 238, 255);
}
.sf-navbar ul li li a:focus {
	background: rgb(230, 238, 255);
}
.sf-navbar ul li li a:hover {
	background: rgb(230, 238, 255);
}
.sf-navbar ul li li a:active {
	background: rgb(230, 238, 255);
}
ul.sf-navbar .current ul {
	left: 0px; top: 2.5em;
}
ul.sf-navbar ul li:hover ul {
	left: 0px; top: 2.5em;
}
ul.sf-navbar ul li.sfHover ul {
	left: 0px; top: 2.5em;
}
ul.sf-navbar .current ul ul {
	top: -999em;
}
.sf-navbar li li.current > a {
	font-weight: bold;
}
.sf-navbar ul .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar ul a > .sf-sub-indicator {
	background-position: 0px -100px;
}
.sf-navbar ul a:focus > .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar ul a:hover > .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar ul a:active > .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar ul li:hover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar > li > ul {
	background: none; padding: 0px; -moz-border-radius-bottomleft: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 0;
}
